<launch>

    <arg name="camera_position" default="forward"/> 
    
    <arg name="lidar_position" default="top_plate"/>
    
    <arg name="sonars_installed" default="true"/>

    <arg name="rviz_config" default="true" />
    
    <!-- Testing two lines below-->
    <arg name="lidar_translation" default="-0.03 0 0.20 0 3.14 3.14"/><!-- base_link to lidar laser -->
    
    <node pkg="tf" type="static_transform_publisher" name="stp_base_link_laser" args="$(arg lidar_translation) /base_link /laser 20"/>
    <!-- End testing-->
    
    <!-- load empty world -->
    <arg name="gui" default="true"/>
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="x_pos" default="6.5"/>
    <arg name="y_pos" default="0.5"/>
    <arg name="z_pos" default="0.0"/>

    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find magni_gazebo)/worlds/CedriHall.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- start robot -->
    <include file="$(find magni_gazebo)/launch/magni.launch">
        <arg name="camera_position" value="$(arg camera_position)"/>
        <arg name="sonars_installed" value="$(arg sonars_installed)"/>
        <arg name="lidar_position" value="$(arg lidar_position)"/>
    </include>


    <include file="catkin_ws/src/magni_robot/magni_nav/launch/move_base.launch">
  
    </include>

    <!-- Additional nodes (optional)  -->


    <arg unless="$(arg rviz_config)" name="rviz_args" value="" />
    <arg     if="$(arg rviz_config)" name="rviz_args" value="-d $(find magni_gazebo)/launch/rviz_config.rviz" />

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="$(arg rviz_args)" output="screen"/>


</launch>
